/* Navbar Style Start */

.navbar-container {
  display: flex;
}

nav {
  width: 70px;
  height: 100vh;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid rgb(81, 81, 81);
}

.navbar-section-logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-section-logo-area img {
  width: 50px;
  height: 40px;
}

.navbar-section-menus-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navbar-menu-active {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(161, 161, 161);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar-menu-in-active:hover {
    transform: scale(1.1);
}

.navbar-menu-in-active {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar-menu-in-active:hover {
  transform: scale(1.1);
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  background-color: #222222;
}

.navbar-component-popup-area{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  padding: 10px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 1px, rgba(255, 255, 255, 0.13) 0px 0px 1px 1px;
  border-radius: 10px;
  z-index: 1000;
}

.navbar-login-content-area{
  cursor: pointer;
}

.blur-background {
  filter: blur(2px);
}

/* Navbar Style End */

/* Onboarding Component Style Start */

.onboarding-component-onboarding-screens-content-area{
    width: 93vw;
    height: 93vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.onboarding-component-onboarding-screens{
  width: 60vw;
  height: 90vh;
  background-color: #222222;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 1px, rgba(255, 255, 255, 0.13) 0px 0px 1px 1px;
  display: flex;
  align-items: center;
}

.onboarding-component-demo-music-player{
  width: 30vw;
  height: 18vh;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 1px, rgba(255, 255, 255, 0.13) 0px 0px 1px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onboarding-component-slides-text-area{
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  color: white;
  text-align: center;
}

.onboarding-component-slides-text-area p{
  text-align: center;
}

.onboarding-component-slider-slide{
  width: 65vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.onboarding-component-slider-slide.active {
  display: block;
}

.onboarding-component-slider-slide img{
  width: 60vw;
  height: 60vh;
  border-radius: 10px;
}

.onboarding-component-slider-content-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.onboarding-component-get-start-button{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.onboarding-component-get-start-button:hover {
  background-color: #4caf50;
  color: white;
}

.onboarding-component-right-content-area{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.onboarding-component-ads-content-area{
  width: 30vw;
  height: 70vh;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 1px, rgba(255, 255, 255, 0.13) 0px 0px 1px 1px;
}

.onboarding-component-ads-content-area img{
  width: 30vw;
  height: 70vh;
  border-radius: 10px;
}

.onboarding-component-ads-slide {
  display: none;
}

.onboarding-component-ads-slide.active {
  display: block;
}

/* Onboarding Component Style End */

/* Login Component Style Start */

.login-component{
  width: 50vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

.login-component-left-image-area{
  width: 20vw;
  height: 100%;
  border-radius: 5px;
  background-image: url("../assets/Slides/slide-1.jpg");
}

.login-component-right-form-area{
  width: 30vw;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.login-component-right-form-area{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-component-logo-area img{
  width: 130px;
}

.login-component-close-popup-button p{
  font-size: 10px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: 50vh;
  gap: 20px;
}

.login-component-username-area{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-component-username-area label{
  font-size: 12px;
}

.login-component-username-area input{
  width: 25vw;
  height: 5vh;
  border-radius: 5px;
}

.login-component-password-area{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-component-password-area label{
  font-size: 12px;
}

.login-component-form-password-inputs{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.login-component-form-password-inputs input{
  width: 25vw;
  height: 5vh;
  border-radius: 5px;
}

.login-component-remember-me-and-forget-password-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.login-component-remember-me-button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login-component-remember-me-button label{
  font-size: 12px;
}

.login-component-forget-password-button{
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.login-component-random-quote{
  font-size: 13px;
  width: 25vw;
  text-wrap: wrap;
}

.login-component-welcome-message-area h1{
  font-size: 30px;
}

.login-component-form-submit-button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-component-form-submit-button button{
  border: none;
  outline: none;
  width: 30vw;
  height: 5vh;
  border-radius: 5px;
  cursor: pointer;
  background-color: orange;
}

input[type=text]:focus {
  outline: none !important;
  border: 1px solid lightgrey;
}

input[type=password]:focus {
  outline: none !important;
  border: 1px solid lightgrey;
}

.error-message{
  font-size: 12px;
  color: rgb(255, 79, 79);
}

.login-component-remember-me-button input{
  border: none !important;
  outline: none !important;
}

.login-component-redirect-to-register-component p{
  font-size: 13px;
}

.login-component-redirect-to-register-component span{
  color: orange;
  cursor: pointer;
  text-decoration: underline;
}

/* Login Component Style End */


/* Responsive Design Style Start */

@media (max-width: 768px){
  .navbar-container{
    flex-direction: column-reverse;
  }
  nav{
    width: 100%;
    height: 10vh;
    flex-direction: row;
    border-top: 1px solid rgb(81, 81, 81);
    position: sticky;
    bottom: 0;
  }
  .navbar-section-menus-area{
    flex-direction: row;
  }
  .content{
    width: 100%;
    height: 190vh;
    z-index: -1;
  }
  .onboarding-component-onboarding-screens-content-area{
    width: 100%;
  }
  .onboarding-component-onboarding-screens-content-area{
    flex-direction: column;
  }
  .onboarding-component-onboarding-screens{
    width: 90vw;
    height: 100%;
  }
  .onboarding-component-slider-slide img{
    width: 90vw;
    height: 40vh;
  }
  .onboarding-component-slides-text-area{
    width: 90vw;
  }
  .onboarding-component-demo-music-player{
    width: 90vw;
  }
  .onboarding-component-ads-content-area{
    width: 90vw;
  }
  .onboarding-component-ads-content-area img{
    width: 90vw;
  }
  .login-component{
    flex-direction: column;
    width: 80vw;
    height: 90vh;
  }
  .login-component-left-image-area{
      width: 100%;
      height: 20vh;
  }
  .login-component-right-form-area{
    width: 80vw;
  }
  .login-component-username-area input{
    width: 65vw;
  }
  .login-component-form-password-inputs input{
    width: 65vw;
  }
  .login-component-random-quote{
    width: 55vw;
  }
}

/* Responsive Design Style End */