/* Navbar Style Start */

.navbar-container {
  display: flex;
}

nav {
  width: 70px;
  height: 100vh;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid rgb(81, 81, 81);
}

.navbar-section-logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-section-logo-area img {
  width: 50px;
  height: 40px;
}

.navbar-section-menus-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navbar-menu-active {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(161, 161, 161);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar-menu-in-active:hover {
    transform: scale(1.1);
}

.navbar-menu-in-active {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar-menu-in-active:hover {
  transform: scale(1.1);
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  background-color: #222222;
}

/* Navbar Style End */

/* Onboarding Component Style Start */

.onboarding-component-onboarding-screens-content-area{
    width: 93vw;
    height: 93vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.onboarding-component-onboarding-screens{
  width: 60vw;
  height: 90vh;
  background-color: #222222;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 1px, rgba(255, 255, 255, 0.13) 0px 0px 1px 1px;
  display: flex;
  align-items: center;
}

.onboarding-component-demo-music-player{
  width: 30vw;
  height: 18vh;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 1px, rgba(255, 255, 255, 0.13) 0px 0px 1px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onboarding-component-slides-text-area{
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  color: white;
  text-align: center;
}

.onboarding-component-slides-text-area p{
  text-align: center;
}

.onboarding-component-slider-slide{
  width: 65vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.onboarding-component-slider-slide.active {
  display: block;
}

.onboarding-component-slider-slide img{
  width: 60vw;
  height: 60vh;
  border-radius: 10px;
}

.onboarding-component-slider-content-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.onboarding-component-get-start-button{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.onboarding-component-get-start-button:hover {
  background-color: #4caf50;
  color: white;
}

.onboarding-component-right-content-area{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.onboarding-component-ads-content-area{
  width: 30vw;
  height: 70vh;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 1px, rgba(255, 255, 255, 0.13) 0px 0px 1px 1px;
}

.onboarding-component-ads-content-area img{
  width: 30vw;
  height: 70vh;
  border-radius: 10px;
}

.onboarding-component-ads-slide {
  display: none;
}

.onboarding-component-ads-slide.active {
  display: block;
}

/* Onboarding Component Style End */